{% extends 'assetmaster/base1.html' %}
{% block content1 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View All Items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
  <div class="container">
          <h1>All Item Details!</h1>
      <hr>
          {% if messages %}
   {% for message in messages %}
    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}
     <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">item_name</th>
      <th scope="col">Asset_type</th>
      <th scope="col">is_active</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Images</th>
    </tr>
  </thead>
         {% for i in page_obj %}
  <body>
    <tr>
      <td>{{i.id}}</td>
      <td>{{i.item_name}}</td>
      <td>{{i.asset_type}}</td>
      <td>{{i.is_active}}</td>
      <td>{{i.created_at}}</td>
      <td>{{i.updated_at}}</td>
      <td>{{i.id}}</td>
        <td><a href="/update_item/{{i.item_id}}">Update</a> <a href="/remove_item/{{i.item_id}}" onclick="return confirm('Are you sure to delete?')">Delete</a></td>
        <td><a href="/item_images/{{i.item_id}}" >Images</a></td>
    </tr>
  </body>
         {% endfor %}
</table>
  </div>

<div class="container">

    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary" href="?page=1">&laquo; first</a>
            <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<br>

<div class="container">
  <a class="btn btn-primary" href="/add_item" role="button">Add items</a>
</div>
  <br>
  <div class="container">
  <a class="btn btn-primary" href="/export_items_csv" role="button">Export CSV</a>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>-->


</body>

        {% endblock %}

</div>


</html>