{% extends 'assetmaster/base1.html' %}
{% load static %}
{% block content1 %}

  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->

          <div class="col-lg-5">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Active & Inactive Assets</h3>
                  <a href="#">View Report</a>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="d-flex flex-column">
                    <span class="text-bold text-lg"></span>
                    <span></span>
                  </p>
                  <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                      <i class="fas fa-arrow-up"></i>
                    </span>
                    <span class="text-muted">Since</span>
                  </p>
                </div>
                <!-- /.d-flex -->




 <div class="position-relative mb-4"> <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const xctx = document.getElementById('myChart');

  new Chart(xctx, {
    type: 'bar',
    data: {
      labels: [{% for label in bar_label %} '{{label}}', {% endfor %}],
      datasets: [{
        label: 'Count of Active & Inactive Assets',
        data: [{% for data in bar_data %} {{data}}, {% endfor %}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
          <div class="col-lg-7">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Count of AssetsType</h3>
                  <a href="#">View Report</a>
                </div>
              </div>

<!-- <div> <canvas id="myChart1" style="display: block; box-sizing: border-box; height: 425px; width: 850px;" width="761" height="380">></canvas>-->
 <div class="position-relative mb-6"> <canvas id="myChart1" >></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart1');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{% for label in pie_label %} '{{label}}', {% endfor %}],
      datasets: [{
        label: 'AssetType & Count of items',
        data: [{% for data in pie_data %} {{data}}, {% endfor %}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>





            {% endblock %}
</body>

</html>
