{% extends 'assetmaster/base1.html' %}
{% block content1 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
{% block base_block %}
<h1 align="center">AssetType update form</h1>
<br>
<div class="container" align="center">
<form class="" method="post">

<!--    AssetType asset_type_id :<input type="text" name="roll" value="{{data.asset_type_id}}">-->
<!--    <p></p>-->
<!--    AssetType asset_type :<input type="text" name="name" value="{{data.asset_type}}">-->
<!--    <p></p>-->
<!--    AssetType asset_description :<input type="text" name="address" value="{{data.asset_description}}">-->
<!--    <p></p>-->
<!--    AssetType created_at :<input type="text" name="email" value="{{data.created_at}}">-->
<!--    <p></p>-->
    {{form.as_p}}

<!--    AssetType updated_at :<input type="text" name="record" value="{{data.updated_at}}">  <! –– feed again with proper formate ––>-->
<!--    <p></p>-->
<!--    student date :<input type="text" name="date" value="{{data.date}}"> # it is removed because its autoformate so will create problem-->


    {%csrf_token%}
<input type="submit" class="btn btn-success btn-lg"  value="Update Record " onclick="return confirm('Are you sure to update?')">
</form>
</div>

{% endblock %}
{% endblock %}
</body>
</html>